.banner1-banner {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-logored);
}
@media(max-width: 1200px) {
  .banner1-banner {
    height: 100%;
  }
}
@media(max-width: 767px) {
  .banner1-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .banner1-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
