<div>
  <link href="./banner.css" rel="stylesheet" />
  <div class="banner-banner">
    <span class="banner-text"><span>get started</span></span>
    <h1 class="banner-text01">
      <span>Push your finances to</span>
      <br />
      <span></span>
      <span></span>
      <span>the next level.</span>
    </h1>
    <span class="banner-text07">
      <span>
        <span>Amet minim mollit non deserunt ullamco est sit</span>
        <span></span>
      </span>
      <br />
      <span>
        <span>aliqua dolor do amet sint.</span>
        <span></span>
      </span>
    </span>
    <div class="banner-btns">
      <button class="banner-button button button-transparent">
        <span>See all plans</span>
      </button>
      <button class="banner-button1 button button-gradient">
        <span>Get started</span>
      </button>
    </div>
  </div>
</div>
